@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family: 'Montserrat',sans-serif;
  background-color: #1e1e1c;
  background-color: #7918f2;

  color:#fff;
}

.Display{
  display:flex;
 
  flex-direction:column;
  align-items: center;
  margin-top: 64px;
  color:#fff;
  
}

.search_area{
  margin-top: 64px;
  margin-bottom: 40px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  /* padding-bottom: 50px; */
  background-color: #7918f2;
}

form{
  display: flex;
  flex-direction: row;
}


.filter{
  min-width: 100px;
  height: 30px;
  margin-left: 10px;
 
 

}
.filter Select{
  color: white;
  background: none;
  height: 50px;
  border: 1px solid #ababab;
}

.text{

  margin-bottom: 32px;
  text-align:center;
  font-family: 'Roboto';
  font-size: 80px;
  font-weight: bold;

}

.pokemon_input{
  color: #000000;
  padding-left: 16px;
  width: 350px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-color:white;
  opacity: 0.4;  
  font-weight: bold;
}
.pokemon_input::placeholder{
  color:#000000;
}
.pokemon_input:hover{
  opacity: 0.6;
}
/* .pokemon_input:active{
background-color: rgba(0, 255, 255, 0.138) ;
} */


.display_area{

}
.display_pokemons{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  width: 75vw;
}

/* .display_area{
  border: 2px solid #fff;
  margin: 20px;
  border-radius: 30px;
 
} */
/* .latests_container_Box{
  background: #ababab !important;
} */
.card1{
  display: none;

}
